<div>


<div id="education" class="education primary-content seven columns">

	<div class="info">
		<h1>Education</h1>

		<h5 class="no-bottom">{{education.course}} - {{education.university}}</h5>
		<h6><i>Classification: {{education.classification}}</i></h6>

		<h5>{{education.date.start}} - {{education.date.end}}</h5>

	</div>
        <b class="year-title"> Final Year Modules:</b>
        <table class="table  ">
          <tbody>
                   <tr>
                        <td>Economics of Social Policy II</td>
                      </tr>
                      <tr>
                        <td  >Social Theory II</td>
                      </tr>
                      <tr>
                        <td  >Sociology of Development and Globalization</td>
                      </tr>
                      <tr>
                        <td  >Object-Orientated Analysis and Design</td>
                      </tr>
                      <tr>
                        <td  >Sociology of the Medi</td>
                      </tr>
                      <tr>
                        <td  >Final Year Dissertation</td>
                      </tr>
                        <tr>
                        <td  >Living Spaces: Social Construction of Habitat</td>
                      </tr>
                      <tr>
                        <td  >Comparative Social Policy II</td>
                      </tr>
                      <tr>
                        <td  >Politics and Social Policy II</td>
                      </tr>
          </tbody>
        </table>

        <h5 class="no-bottom">{{masters.course}} - {{masters.university}}</h5>
        <h6><i>Classification: {{masters.classification}}</i></h6>

        <h5>{{masters.date.start}} - {{masters.date.end}}</h5>
        <b class="year-title"> Modules As Follows</b>
        <table class="table  ">
          <tbody>
            <tr>
              <td  >Electronic Business Models and System</td>
            </tr>
            <tr>
              <td  >e-Business Experience and Practice</td>
            </tr>
            <tr>
              <td  >Programming for Web Applications and Services</td>
            </tr>
            <tr>
              <td  >Introduction to Mobile Programming</td>
            </tr>
            <tr>
              <td  >Data Modelling and Database Systems</td>
            </tr>
            <tr>
              <td  >Application Modelling and Design</td>
            </tr>
            <tr>
              <td  >Storage Technology</td>
            </tr>
            <tr>
              <td  >Telecommunications for Electronic Business</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
</div>

</div>
